/*
* {
    border: 1px solid red;
}
*/
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.switch {
  border: 2px solid;
  border-radius: 2em;
  /*font: Fraktur;*/
  padding: 20px 10px 20px 10px;
  margin: 10px;
  float: right;
  font-size: 16px;
}

.o-box {
  border: 2px solid;
  border-radius: 1em;
  margin: 10px 25px 10px 25px;
  padding: 10px;
}
/*
.un-opened:hover {
  background-color: #f5a623;
}
*/
.closed:hover {
  background-color: #f5a623;
}

#main {
  padding-bottom: 30px;
}

.gray {
  color: #888;
  padding-bottom: 10px;
  clear: both;
}

.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.on-line {
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  height: 2px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


p {
  font-size: 14px;
  font-weight: normal;
  color: #ddaa33;
  line-height: 21px;
  display: block;
}

.job-title {
  font-size: 18px;
  padding-top: 8px;
}

a {
  font-weight: normal;
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: inline;
}

.welcome-message { /* .welcome-message.light */
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3; /*this will have to -switch- to light black*/
  line-height: 28px;
  text-align: right;
}

.welcome-message.light {
  color: #F3F3F3;
}

.welcome-message.dark {
  color: #282828;
}

.welcome-message:hover {
  color: #f5a623;
}

#skillsH3 {
  color: #f5a623;
  display: none;
}


.date-text {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  float: left;
  margin: 3px 5px;
}

.location-text {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  float: left;
  margin: 3px 5px;
}

.on-line {
  padding-bottom: 8px;
}

.school-degree,
.on-line-title-school {
  padding-top: 8px;
}

.online-class-ref {
  font-size: 12px;
  display: in-line;
}


/*
.orange-text {
  color: black;
}
*/
/*
.white-text {
  font-weight: bold;
  color: black;
}*/


/* TODO: Replace with image later */
#header {
  /*background-color: white;*//*#484848;*/
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
  margin: 25px;
  padding: 40px;
}

li {

}

.biopic {
  float: left;
  padding: 10px;
  width: 230px;
  height: 290px;
  display: none;
  border: 2px solid;
  border-radius: 2em;
  margin: 20px;
}

img {
  padding: 10px;
  width: 160px;
  height: 160px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
  /*color: black;*//*bisque;*/
}

.majors {
  font-size: 14px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  /*.biopic {
    width: 160px;
    height: 160px;
  }*/
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic,
  .welcome-message {
    display: none;
  }
  .closed {
    background-color: #f5a623;
  }
  #mapDiv {
    display: none;
  }
}

#map-box {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
